---
import projectCardInfo from '../../data/project-card-info'
import ProjectCard from './project-card.astro'
---

<section class="mt-20 grid gap-10 lg:gap-8 md:grid-cols-2">
  {
    projectCardInfo.map((project) => (
      <ProjectCard
        key={project.title}
        title={project.title}
        description={project.description}
        image={project.image}
        link={project.link}
      />
    ))
  }
</section>
