---
import Layout from '../../layouts/Layout.astro'
import '../../styles/globals.css'
import data from '../../data/casestudies/miamors.json'
import ContactButton from '@/components/shared/contact-button.astro'
import {
  CaseStudyHero,
  Overview,
  CaseStudySection,
  CaseStudyRole
} from '@/components/shared/'
---

<Layout title="Welcome to The Case Study for Mi Amor's">
  <main
    class="min-[616px]:max-w-[616px] mx-auto min-[744px]:max-w-[744px] min-[1028px]:max-w-[1028px]"
  >
    <CaseStudyHero
      title={data.hero.title}
      body={data.hero.body}
      image={data.hero.image}
      imageHeight={300}
      imageWidth={300}
    />
    <CaseStudyRole
      role={data.summary.role}
      team={data.summary.team}
      teamSubtitle={data.summary.teamSubtitle}
      durationDate={data.summary.durationTime}
      durationTime={data.summary.durationTime}
    />
    <Overview
      name={data.overview.name}
      title={data.overview.title}
      body={data.overview.body}
    />
    <!-- section 1 -->
    <CaseStudySection
      image={data.section1.image}
      title={data.section1.title}
      body={data.section1.body}
    />
    <!-- section 2 -->
    <CaseStudySection
      image={data.section2.image}
      title={data.section2.title}
      body={data.section2.body}
    />
    <!-- section 3 -->
    <CaseStudySection
      image={data.section3.image}
      title={data.section3.title}
      body={data.section3.body}
    />
    <!-- section 4 -->
    <CaseStudySection
      image={data.section4.image}
      title={data.section4.title}
      body={data.section4.body}
    />
    <!-- section 5 -->
    <CaseStudySection
      image={data.section5.image}
      title={data.section5.title}
      body={data.section5.body}
    />
    <!-- section 6 -->
    <CaseStudySection
      image={data.section6.image}
      title={data.section6.title}
      body={data.section6.body}
    />
    <ContactButton text="Let's Chat, I'm open for work!" />
  </main>
</Layout>
